.DS_Store
.idea/
.vscode/
.claude/
.gradle/
**/build/
**/.dart_tool/
**/node_modules/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/coverage/
**/*.iml
**/local.properties
**/settings.local.json
**/_to_delete/
.tmp-*/
